﻿@using LibraryManagementCourse.Data.Model
@model Author

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <p>@Model.Name</p>
        </div>
        <div class="panel-body">
            <h2>Book count: @Model.Books?.Count</h2>
            <div class="btn-group">
                @if (Model.Books?.Count == 0)
                {
                    <a class="btn btn-default" asp-area="">Список книг</a>
                }
                else
                {
                   <a class="btn btn-info" asp-area="" asp-controller="Book" asp-action="List" asp-route-authorId="@Model.AuthorId">Список книг</a>
                }
                <a class="btn btn-info" asp-area="" asp-controller="Author" asp-action="Update" asp-route-id="@Model.AuthorId">Изменить</a>
                <a class="btn btn-danger" asp-area="" asp-controller="Author" asp-action="Delete" asp-route-id="@Model.AuthorId">Удалить</a>
            </div>
        </div>
    </div>
</div>