﻿@using LibraryManagementCourse.ViewsModel;
@model IEnumerable<CustomerViewModel>

<a class="btn btn-success mt-5" style="margin: 10px" asp-controller="Customer" asp-action="Create">Добавить клиента</a>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Количество взятых книг</th>
            <th>Изменить клиента</th>
            <th>Удалить клиента</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customerVM in Model)
        {
            <tr>
                <td>@customerVM.Customer.CustomerId</td>
                <td>@customerVM.Customer.Name</td>
                <td>@customerVM.BookCount</td>
                <td><a class="btn btn-info" asp-area="" asp-controller="Customer" asp-action="Update" asp-route-id="@customerVM.Customer.CustomerId">Изменить</a></td>
                <td><a class="btn btn-info" asp-area="" asp-controller="Customer" asp-action="Delete" asp-route-id="@customerVM.Customer.CustomerId">Удалить</a></td>
            </tr>
        }
    </tbody>
</table>