﻿@model LibraryManagementCourse.Data.Model.Author

<div class="row orderForm">
    <form asp-controller="Author" asp-action="Create" method="post" class="form-horizontal" role="form">
        <h3 class="col-md-offset-2">Добавить автора</h3>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label">Имя</label>
            <div class="col-md-12">
                <input asp-for="Name" class="form-control" placeholder="Введите имя автора" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-6">
                <input class="btn btn-default" type="submit" value="Назад" asp-controller="Author" asp-action="List" />
                <input class="btn btn-success" type="submit" value="Потвердить" />
            </div>
        </div>
    </form>
</div>