﻿@model LibraryManagementCourse.ViewsModel.BookViewModel

<div class="row orderFrom">
    <form asp-controller="Book" asp-action="Create" method="post" class="form-horizontal" role="form">
        <h3 class="col-md-offset-2">Добавить книгу</h3>
        <div class="form-group">
            <label asp-for="Book.Author" class="col-md-12 custom-control-label"></label>
            <div class="col-md-12">
                @Html.DropDownListFor(m => m.Book.AuthorId,
                                        new SelectList(Model.Authors.Select(x => new { Value = x.AuthorId, Text = x.Name }), "Value", "Text"), "Выбирите автора",
                                        htmlAttributes: new { @class = "form-control border-input" })
                <span asp-validation-for="Book.Author" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <a class="btn btn-success" style="width: 100%" asp-controller="Author" asp-action="Create">Добавить автора</a>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Book.Title" class="col-md-12 control-label">Название книги</label>
            <div class="col-md-12">
                <input asp-for="Book.Title" class="form-control" placeholder="Ввидите название книги" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-12">
                <input  class="btn btn-default" type="submit" value="Назад" asp-controller="Book" asp-action="List" />
                <input  class="btn btn-success" type="submit" value="Потвердить" />
                
            </div>
        </div>
    </form>
</div>