﻿@using LibraryManagementCourse.Data.Model
@model IEnumerable<Book>

<a class="btn btn-success mt-5" style="margin: 10px" asp-controller="Book" asp-action="Create">Добавить книгу</a>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Автор книги</th>
            <th>Изменить книгу</th>
            <th>Удалить книгу</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Book book in Model)
        {
        <tr>
            <td>@book.BookId</td>
            <td>@book.Title</td>
            <td>@book.Author.Name</td>
            <td><a class="btn btn-info" asp-area="" asp-controller="Book" asp-action="Update" asp-route-id="@book.BookId">Изменить</a></td>
            <td><a class="btn btn-danger" asp-area="" asp-controller="Book" asp-action="Delete" asp-route-id="@book.BookId" asp-route-authorId="@ViewBag.AuthorId">Удалить</a></td>
        </tr>
        }
    </tbody>
</table>