﻿@using LibraryManagementCourse.Data.Model
@model IEnumerable<Book>

<table>
    <thead class="table table-striped table-hover ">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Автор</th>
            <th>Клиент</th>
            <th>Вернуть</th>
        </tr>
    </thead>
    <tbody class="table table-striped table-hover col-md-12">
        @foreach(Book book in Model)
        {
            <tr>
                <td>@book.BookId</td>
                <td>@book.Title</td>
                <td>@book.Author.Name</td>
                <td>@book.Borrower.Name</td>
                <td><a class="btn btn-success" asp-area="" asp-controller="Return" asp-action="ReturnABook" asp-route-bookId="@book.BookId">Вернуть</a></td>
            </tr>
        }
    </tbody>
</table>