﻿@using LibraryManagementCourse.ViewsModel
@model HomeViewModel
@{ 
    int availableBooks = Model.BookCount - Model.LendBookCount;
}

<h1>Информационная панель библиотеки</h1>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Количество клиентов
            </div>
            <div class="panel-body">
                Сейчас: @Model.CustomerCount
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Количество авторов
            </div>
            <div class="panel-body">
                Сейчас: @Model.AuthorCount
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Количество книг
            </div>
            <div class="panel-body">
                Сейчас есть книг: @availableBooks из @Model.BookCount
            </div>
        </div>
    </div>
</div>